policy_module(rusty-penguin, 1.1.0)

########################################
#
# Declarations
#

type rusty_penguin_t;
type rusty_penguin_exec_t;
init_daemon_domain(rusty_penguin_t, rusty_penguin_exec_t)

ifdef(`distro_redhat',`
    type rusty_penguin_unit_file_t;
    systemd_unit_file(rusty_penguin_unit_file_t)
')

## <desc>
##	<p>
##	Allow Rusty Penguin SSH ports access
##	</p>
## </desc>
gen_tunable(rusty_penguin_can_connect_ssh, false)

## <desc>
##	<p>
##	Allow Rusty Penguin unrestricted network access
##	</p>
## </desc>
gen_tunable(rusty_penguin_unrestricted_network, false)


########################################
#
# Rusty Penguin local policy
#
#allow rusty_penguin_t self:fifo_file rw_fifo_file_perms;

require {
ifdef(`distro_redhat',`
    type init_var_run_t;
')
ifndef(`distro_redhat',`
    type init_tmpfs_t;
')
    type cgroup_t;
    type net_conf_t;
    type sysfs_t;
    class file { getattr open read };
}

ifdef(`distro_redhat',`
    init_nnp_daemon_domain(rusty_penguin_t)
')

# Tokio uses sysfs and cgroupfs to configure the threadpool
fs_search_cgroup_dirs(rusty_penguin_t)
allow rusty_penguin_t cgroup_t:file { getattr open read };
allow rusty_penguin_t sysfs_t:file { open read };

# Access system CA store
miscfiles_read_generic_certs(rusty_penguin_t)

# When using systemd LoadCredential, certificates are loaded as init_var_run_t or init_tmpfs_t depending on the distro
ifdef(`distro_redhat',`
    allow rusty_penguin_t init_var_run_t:file { getattr open read };
')
ifndef(`distro_redhat',`
    allow rusty_penguin_t init_tmpfs_t:file { getattr open read };
')

# Cap net_bind_service and bind to http_port_t
corenet_tcp_bind_http_port(rusty_penguin_t)
# Bind TCP and UDP
corenet_tcp_bind_generic_node(rusty_penguin_t)
corenet_udp_bind_generic_node(rusty_penguin_t)
allow rusty_penguin_t self:tcp_socket create_stream_socket_perms;
allow rusty_penguin_t self:udp_socket create_socket_perms;
allow rusty_penguin_t self:unix_stream_socket create_stream_socket_perms;
allow rusty_penguin_t self:unix_dgram_socket create_socket_perms;
# getaddrinfo reads /etc/hosts
allow rusty_penguin_t net_conf_t:file { open read };

# Allow outgoing connections
corenet_tcp_connect_http_port(rusty_penguin_t)
tunable_policy(`rusty_penguin_can_connect_ssh',`
    corenet_tcp_connect_ssh_port(rusty_penguin_t)
')
tunable_policy(`rusty_penguin_unrestricted_network',`
    corenet_tcp_sendrecv_generic_if(rusty_penguin_t)
    corenet_udp_sendrecv_generic_if(rusty_penguin_t)
    corenet_tcp_sendrecv_generic_node(rusty_penguin_t)
    corenet_udp_sendrecv_generic_node(rusty_penguin_t)
ifdef(`distro_redhat',`
    corenet_tcp_sendrecv_all_ports(rusty_penguin_t)
    corenet_udp_sendrecv_all_ports(rusty_penguin_t)
')
    corenet_tcp_connect_all_ports(rusty_penguin_t)
    corenet_sendrecv_all_client_packets(rusty_penguin_t)
')

domain_use_interactive_fds(rusty_penguin_t)
files_read_etc_files(rusty_penguin_t)
miscfiles_read_localization(rusty_penguin_t)
