[Unit]
Description=Penguin tunnel
Wants=syslog.service local-fs.target network-online.target
After=local-fs.target network-online.target
Documentation=https://github.com/myzhang1029/penguin-rs

[Service]
Restart=on-failure
EnvironmentFile=-/etc/default/rusty-penguin
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
LockPersonality=true
MemoryDenyWriteExecute=true
PrivateDevices=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectKernelTunables=true
ProtectProc=invisible
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictRealtime=true
SystemCallArchitectures=native
UMask=0077
# Use these for TLS settings
# LoadCredential=fullchain.pem:$PENGUIN_TLS_FULLCHAIN
# LoadCredential=privkey.pem:$PENGUIN_TLS_PRIVKEY
# ExecStart=/usr/bin/penguin server --host $PENGUIN_ADDR --port $PENGUIN_PORT $PENGUIN_ADDITIONAL_OPTS --port 443 --tls-cert ${CREDENTIALS_DIRECTORY}/fullchain.pem --tls-key ${CREDENTIALS_DIRECTORY}/privkey.pem
ExecStart=/usr/bin/penguin server --host $PENGUIN_ADDR --port $PENGUIN_PORT $PENGUIN_ADDITIONAL_OPTS
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
