name: Cross-compile Releases

on:
  push:
    branches: [ "main" ]
    tags: [ "v*" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Cross-compile for ${{ matrix.config.rust_target }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      # Unsupported targets are unsupported by Rust, `ring`, or `mio`
      matrix:
        config:
        - rust_target: aarch64-linux-android
          profile: release-size
        - rust_target: aarch64-unknown-linux-gnu
          profile: release
        - rust_target: aarch64-unknown-linux-musl
          profile: release
        # - rust_target: arm-linux-androideabi (AtomicU64)
        - rust_target: arm-unknown-linux-gnueabi
          profile: release
        - rust_target: arm-unknown-linux-gnueabihf
          profile: release
        - rust_target: arm-unknown-linux-musleabi
          profile: release-size
        - rust_target: arm-unknown-linux-musleabihf
          profile: release-size
        # - rust_target: armv5te-unknown-linux-gnueabi (AtomicU64)
        # - rust_target: armv5te-unknown-linux-musleabi (AtomicU64)
        - rust_target: armv7-linux-androideabi
          profile: release-size
        - rust_target: armv7-unknown-linux-gnueabi
          profile: release
        - rust_target: armv7-unknown-linux-gnueabihf
          profile: release
        - rust_target: armv7-unknown-linux-musleabi
          profile: release-size
        - rust_target: armv7-unknown-linux-musleabihf
          profile: release-size
        # - rust_target: i586-unknown-linux-gnu (ring v1.17.8 SSE)
        # - rust_target: i586-unknown-linux-musl (ring v1.17.8 SSE)
        - rust_target: i686-unknown-freebsd # (crate `aws-lc-sys`)
          profile: release
        - rust_target: i686-linux-android
          profile: release
        - rust_target: i686-pc-windows-gnu # (crate `aws-lc-sys`)
          profile: release
        - rust_target: i686-unknown-linux-gnu
          profile: release
        - rust_target: i686-unknown-linux-musl
          profile: release
        - rust_target: loongarch64-unknown-linux-gnu
          profile: release
        - rust_target: loongarch64-unknown-linux-musl
          profile: release
        # - rust_target: mips-unknown-linux-gnu (cargo-cross image support)
        # - rust_target: mips-unknown-linux-musl (cargo-cross image support)
        # - rust_target: mips64-unknown-linux-gnuabi64 (cargo-cross image support)
        # - rust_target: mips64-unknown-linux-muslabi64 (cargo-cross image support)
        # - rust_target: mips64el-unknown-linux-gnuabi64 (cargo-cross image support)
        # - rust_target: mips64el-unknown-linux-muslabi64 (cargo-cross image support)
        # - rust_target: mipsel-unknown-linux-gnu (cargo-cross image support)
        # - rust_target: mipsel-unknown-linux-musl (cargo-cross image support)
        # - rust_target: powerpc-unknown-linux-gnu (AtomicU64)
        - rust_target: powerpc64-unknown-linux-gnu
          profile: release
        - rust_target: powerpc64le-unknown-linux-gnu
          profile: release
        - rust_target: riscv64gc-unknown-linux-gnu # (crate `aws-lc-sys`)
          profile: release
        - rust_target: s390x-unknown-linux-gnu
          profile: release
        # - rust_target: sparc64-unknown-linux-gnu (ring support)
        # - rust_target: sparcv9-sun-solaris (ring support)
        # - rust_target: thumbv6m-none-eabi # (can't find crate for `std`)
        # - rust_target: thumbv7em-none-eabi # (can't find crate for `std`)
        # - rust_target: thumbv7em-none-eabihf # (can't find crate for `std`)
        # - rust_target: thumbv7m-none-eabi # (can't find crate for `std`)
        - rust_target: thumbv7neon-linux-androideabi
          profile: release-size
        - rust_target: thumbv7neon-unknown-linux-gnueabihf
          profile: release-size
        # - rust_target: thumbv8m.base-none-eabi # (can't find crate for `std`)
        # - rust_target: thumbv8m.main-none-eabi # (can't find crate for `std`)
        # - rust_target: thumbv8m.main-none-eabihf # (can't find crate for `std`)
        # - rust_target: wasm32-unknown-emscripten (mio support)
        - rust_target: x86_64-linux-android
          profile: release
        - rust_target: x86_64-pc-windows-gnu # (crate `aws-lc-sys`)
          profile: release
        - rust_target: x86_64-pc-solaris # testing
          profile: release
        - rust_target: x86_64-unknown-freebsd # (crate `aws-lc-sys`)
          profile: release
        # - rust_target: x86_64-unknown-dragonfly (can't find crate for `core`)
        - rust_target: x86_64-unknown-illumos # (bindgen)
          profile: release
        - rust_target: x86_64-unknown-linux-gnu
          profile: release
        - rust_target: x86_64-unknown-linux-musl
          profile: release
        - rust_target: x86_64-unknown-netbsd # (crate `aws-lc-sys`)
          profile: release

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Install dependencies
      run: cargo install cross --git https://github.com/cross-rs/cross

    - name: Build release
      run: cross build --profile ${{ matrix.config.profile }} --target ${{ matrix.config.rust_target }} --features "${{ matrix.config.rust_features }}"
      env:
        CROSS_NO_WARNINGS: 0

    - name: Upload binary
      uses: actions/upload-artifact@v4
      with:
        name: penguin-${{ matrix.config.rust_target }}
        path: |
          target/${{ matrix.config.rust_target }}/${{ matrix.config.profile }}/penguin
          target/${{ matrix.config.rust_target }}/${{ matrix.config.profile }}/penguin.exe
