name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Install Rust toolchain
      uses: actions-rs/toolchain@16499b5e05bf2e26879000db0c1d13f7e13fa3af #@v1
      with:
        profile: minimal
        toolchain: stable
        components: llvm-tools-preview
        override: true

    - name: Install grcov
      run: cargo install grcov

    - name: Build
      run: cargo build --verbose
      env:
        RUSTFLAGS: -Cinstrument-coverage

    - name: Run tests
      run: cargo test --verbose
      env:
        RUSTFLAGS: -Cinstrument-coverage
        LLVM_PROFILE_FILE: penguin-%p-%m.profraw

    - name: Process coverage data
      run: grcov . --binary-path ./target/debug/ -s . -t lcov --branch --ignore-not-existing --ignore "/*" -o lcov.info

    - uses: codecov/codecov-action@v3
      with:
        files: ./lcov.info
